<div class="container-fluid">
    <tabset>
        <tab heading="Automaton" id="tab1">
            <div class="container-fluid">
                <div class="row justify-content-center mt-5">
                    <app-states [graph]="graph"></app-states>
                </div>
            </div>
        </tab>
        <tab heading="Parse table" id="tab1">
            <div class="mt-5">
                <app-interactive-table [parserTable]="parserTable"></app-interactive-table>
            </div>
        </tab>
        <tab heading="Testing">
            
        </tab>
    </tabset>
</div>
