<div class="container-fluid">
    <tabset>
        <tab heading="Tables" id="tab1">
            <accordion [isAnimated]="true" class="mt-3">
                <accordion-group>
                    <span accordion-heading class='custom-accordion-style'>
                        <h4>Null Table</h4>
                    </span>
                    <div class="container">
                        <app-table [table]="calcLlService.getNullTable()"></app-table>
                    </div>
                </accordion-group>
                <accordion-group>
                    <span accordion-heading class='custom-accordion-style'>
                        <h4>First Table</h4>
                    </span>
                    <div class="container">
                        <app-table [table]="calcLlService.getFirstTable()" [strategy]="getArrayStrategy()"></app-table>
                    </div>
                </accordion-group>
                <accordion-group>
                    <span accordion-heading class='custom-accordion-style'>
                        <h4>Follow Table</h4>
                    </span>
                    <div class="container">
                        <app-table [table]="calcLlService.getFollowTable()" [strategy]="getArrayStrategy()"></app-table>
                    </div>
                </accordion-group>
                <accordion-group>
                    <span accordion-heading class='custom-accordion-style'>
                        <h4>Prediction</h4>
                    </span>
                    <div class="container">
                        <app-table [table]="calcLlService.getPredictionTable()" type="double" [strategy]="getNumberArrayStrategy()"></app-table>
                    </div>
                </accordion-group>
            </accordion>
        </tab>
        <tab heading="Testing">
            <div class="container">
                <div class="row justify-content-center mb-5 mt-5">
                    <h5><i><b>{{ inputString }}</b></i></h5>
                </div>
                <div class="row justify-content-center mb-5">
                    <textarea class="form-control col-10" (input)="parse($event.target.value)"></textarea>
                    <button class="btn btn-success col-2" (click)="verify()">Verify</button>
                </div>
                
            </div>
            <div class="container-fluid">
                <div class="row justify-content-center mt-5">
                    <app-tree [graph]="tree"></app-tree>
                </div>
            </div>
        </tab>
    </tabset>
</div>
  
  