<div class="container mt-5">
    <button type="button" class="btn btn-success btn-block" (click)="openModal(configGrammar)">Configure Grammar</button>
</div>

<h1 style="margin-bottom: 2em;">Grammar</h1>
<div class="container-fluid">
    <div class="container row vertical-divider">
        <div class="col-4">
            <h5>Entrypoint: {{ showGrammarService.getEntryPoint(calculationsService.getGrammar()) }}</h5>
            <div>
                <h5 class="d-inline-block">Alphabet: &nbsp;&nbsp; </h5>
                <h5 class="d-inline-block" [innerHTML]="showGrammarService.getAlphabet(calculationsService.getGrammar())"></h5>
            </div>
            <div>
                <h5 class="d-inline-block">Non-termninals: &nbsp;&nbsp;</h5>
                <h5 class="d-inline-block" [innerHTML]="showGrammarService.getNonTerminals(calculationsService.getGrammar())"></h5>
            </div>
        </div>
        <div class="col-4">
            <h5>Rules: </h5>
            <h5 [innerHTML]="showGrammarService.getRules(calculationsService.getGrammar())"></h5>
        </div>
        <div class="col-4">
            <h5>Numbered rules: </h5>
            <h5 [innerHTML]="showGrammarService.getNumberedRules(calculationsService.getGrammar())"></h5>
        </div>
    </div>
</div>

<ng-template #configGrammar>
    <!-- Title -->
    <div class="modal-header">
        <h4 class="modal-title pull-left">Configuration</h4>
        <!-- The x that closes the modal -->
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="container row vertical-divider">
            <div class="col-6">
                <label for="config-grammar-text-area"><h3>Input:</h3></label>
                <textarea class="form-control" id="config-grammar-text-area" rows="12" (input)="parse($event.target.value)"></textarea>
            </div>
            <div class="col-6">
                <h3>Parsed:</h3>
                <h5>Entrypoint: {{ showGrammarService.getEntryPoint(grammarService.getGrammar()) }}</h5>
                <hr/>
                <div>
                    <h5>Alphabet: </h5>
                    <h5 style="font-size: 20px;" [innerHTML]="showGrammarService.getAlphabet(grammarService.getGrammar())"></h5>
                </div>
                <hr/>
                <div>
                    <h5>Non-termninals: </h5>
                    <h5 [innerHTML]="showGrammarService.getNonTerminals(grammarService.getGrammar())"></h5>
                </div>
                <hr/>
                <div>
                    <h5>Rules:</h5>
                    <h5 [innerHTML]="showGrammarService.getRules(grammarService.getGrammar())"></h5>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" (click)="hideModal()">Close</button>
        <button class="btn btn-success" (click)="saveGrammar()">Save</button>
    </div>
</ng-template>