

<hr/>


<accordion [isAnimated]="true">
    <accordion-group>
        <span accordion-heading class='custom-accordion-style'>
            Null Table
        </span>
        <div class="container">
            <app-table [table]="calculationsService.getNullTable()"></app-table>
        </div>
    </accordion-group>

    <accordion-group>
        <span accordion-heading class='custom-accordion-style'>
            First Table
        </span>
        <div class="container">
            <app-table [table]="calculationsService.getFirstTable()" [strategy]="getArrayStrategy()"></app-table>
        </div>
    </accordion-group>

    <accordion-group>
        <span accordion-heading class='custom-accordion-style'>
            Follow Table
        </span>
        <div class="container">
            <app-table [table]="calculationsService.getFollowTable()" [strategy]="getArrayStrategy()"></app-table>
        </div>
    </accordion-group>

    <accordion-group>
        <span accordion-heading class='custom-accordion-style'>
            LL Table
        </span>
        <div class="container row">
            <h5 class="col-3" *ngIf="calculationsService.getGrammar().getRules().length > 0" [innerHTML]="showGrammarService.getNumberedRules(calculationsService.getGrammar())"></h5>
            <app-table class="col-9" [table]="calculationsService.getLLTable()" [strategy]="getNumberStrategy()" type="double"></app-table>
        </div>
    </accordion-group>

</accordion>

